# Operators in Python

Python divides the operators in the following groups:

# Arithmetic Operators

In [4]:
# !pip install lxml
import pandas as pd
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp'); table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

# Assignment Operators

In [7]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

# Comparison Operators

In [8]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

# Logical Operators

In [9]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

# Identity Operators

In [10]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

# Membership Operators

In [11]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

# Bitwise Operators

In [12]:
table[6]

,Operator,Name,Description,Example,Try it
0,&,AND,Sets each bit to 1 if both bits are 1,x & y,Try it »
1,|,OR,Sets each bit to 1 if one of two bits is 1,x | y,Try it »
2,^,XOR,Sets each bit to 1 if only one of two bits is 1,x ^ y,Try it »
3,~,NOT,Inverts all the bits,~x,Try it »
4,<<,Zero fill left shift,Shift left by pushing zeros in from the right ...,x << 2,Try it »
5,>>,Signed right shift,Shift right by pushing copies of the leftmost ...,x >> 2,Try it »

# ASCII Code

A = 65,
Z = 91

a = 97,
z = 122

0 = 48,
9 = 57

In [13]:
chr(65)

'A'

In [14]:
ord('A')

65

In [22]:
names: list[str] = [chr(i) for i in range(65, 91)]
names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

# Operator Precedence
The precedence order is described in the table below, starting with the highest precedence at the top:
# PEMDAS

In [23]:
table[7]

,Operator,Description,Try it
0,(),Parentheses,Try it »
1,**,Exponentiation,Try it »
2,+x -x ~x,"Unary plus, unary minus, and bitwise NOT",Try it »
3,* / // %,"Multiplication, division, floor division, and ...",Try it »
4,+ -,Addition and subtraction,Try it »
5,<< >>,Bitwise left and right shifts,Try it »
6,&,Bitwise AND,Try it »
7,^,Bitwise XOR,Try it »
8,|,Bitwise OR,Try it »
9,== != > >= < <= is is not in not in,"Comparisons, identity, and membership operators",Try it »
10,not,Logical NOT,Try it »
11,and,AND,Try it »
12,or,OR,Try it »

In [27]:
universe_age: int = 14_000_000_000
print(universe_age)

14000000000

In [28]:
a, b, c = "Ali", 43, True
print(a)
print(b)
print(c)

Ali
43
True

In [29]:
data = ("Ali", 43, True)
print(data[0], data[1], data[2])
print(*data)

Ali 43 True
Ali 43 True

In [36]:
3 * 3

9

In [37]:
"A" * 3

'AAA'

# Walrus Operator

In [39]:
a: int = 5
if a > 10:
    print("Execute if Body")
else:
    print("Execute else Body")

Execute else Body

In [40]:
a: int = 5
if a < (b := a + 5):
    print(b)
else:
    print(a)

10