# Declaring Variable and Printing a Message

First Method

In [11]:
my_name: str = "Syed Muhammad Hussain"
father_name: str = 'Syed Zahoor Ahmed'
education: str = 'Master in "Data Science"'
age: int = 43
country_name: str = "'Pakistan'"
message: str = "Personal Info:\nName: " + my_name + "\nFather\'s Name: " + father_name + "\nQualification: " + education + "\nAge: " + str(age) + " years" + "\nCountry: " + country_name 
print(message)

Personal Info:
Name: Syed Muhammad Hussain
Father's Name: Syed Zahoor Ahmed
Qualification: Master in "Data Science"
Age: 43 years
Country: 'Pakistan'

Second Method: Line Break ( \ )

In [19]:
my_name: str = "Syed Muhammad Hussain"
father_name: str = 'Syed Zahoor Ahmed'
education: str = 'Master in "Data Science"'
age: int = 43
country_name: str = "'Pakistan'"
message: str = "Personal Info:\
    \nName:" + my_name + "\
    \nFather\'s Name: " + father_name + "\
    \nQualification: " + education + "\
    \nAge: " + str(age) + " years" + "\
    \nCountry: " + country_name 
print(message)d

Personal Info:
Name:Syed Muhammad Hussain
Father's Name: Syed Zahoor Ahmed
Qualification: Master in "Data Science"
Age: 43 years
Country: 'Pakistan'

Third Method: Multiline String (""" or ''') with Place-holder (%s, %d)

In [40]:
my_name: str = "Syed Muhammad Hussain"
father_name: str = 'Syed Zahoor Ahmed'
education: str = 'Master in "Data Science"'
age: int = 43
country_name: str = "'Pakistan'"
message: str = f"""
Personal Info:
Name: %s
Father's Name: %s
Qualification: %s
Age: %d years
Country: %s
""" % (my_name, father_name, education,age,country_name)
print(message)

Personal Info:
Name: Syed Muhammad Hussain
Father's Name: Syed Zahoor Ahmed
Qualification: Master in "Data Science"
Age: 43 years
Country: 'Pakistan'

Fourth Method: Multiline String (""" or ''') with 'Python's f-string'

In [35]:
my_name: str = "Syed Muhammad Hussain"
father_name: str = 'Syed Zahoor Ahmed'
education: str = 'Master in "Data Science"'
age: int = 43
country_name: str = "'Pakistan'"
message: str = f"""
Personal Info:
Name: {my_name}
Father's Name: {father_name}
Qualification: {education}
Age: {age} years
Country: {country_name}
"""
print(message)

Personal Info:
Name: Syed Muhammad Hussain
Father's Name: Syed Zahoor Ahmed
Qualification: Master in "Data Science"
Age: 43 years
Country: 'Pakistan'

In [36]:
Jinja Style:
In web development, we use jinja style instead of f-string
my_name: str = "Syed Muhammad Hussain"
father_name: str = 'Syed Zahoor Ahmed'
education: str = 'Master in "Data Science"'
age: int = 43
country_name: str = "'Pakistan'"
message: str = """
Personal Info:
Name: {{my_name}}
Father's Name: {{father_name}}
Qualification: {{education}}
Age: {{age}} years
Country: {{country_name}}
"""
print(message)

SyntaxError: invalid syntax (3130043991.py, line 1)

# String Methods

In [41]:
print("Use of different types of data without casting.")
statement: str = "I want {} kg {} for {} dollars."
items: str = "apples"; quantity: int = 5; price: float = 30.50
print(statement.format(quantity, items, price))

Use of different types of data without casting.
I want 5 kg apples for 30.5 dollars.

In [47]:
a: int = 5
b: int = 7
# Place-holder {}
print("The value of a = {} and b = {}.".format(a, b))

The value of a = 5 and b = 7.

In [56]:
print("The aim of this program is to divide full name into parts.")
first: str = "Syed"
middle: str = "Muhammad"
last: str = "Hussain"
full_name = "f{first} {middle} {last}"
full_name.split(" ")
print(f"Hello!, {last} {first}")
print(f"Hello!, {middle} {last}")

The aim of this program is to divide full name into parts.
Hello!, Hussain Syed
Hello!, Muhammad Hussain

In [58]:
my_name: str = "Syed Muhammad Hussain"
father_name: str = 'Syed Zahoor Ahmed'
education: str = 'Master in "Data Science"'
age: int = 43
country_name: str = "'Pakistan'"
message: str = """
Personal Info:
Name: {a}
Father's Name: {b}
Qualification: {c}
Age: {d} years
Country: {e}
""".format(a=my_name, b=father_name, c=education, d=age, e=country_name)
print(message)

Personal Info:
Name: Syed Muhammad Hussain
Father's Name: Syed Zahoor Ahmed
Qualification: Master in "Data Science"
Age: 43 years
Country: 'Pakistan'

In [6]:
import re
name: str = "    Muhammad    Hussain    "
display(name)
revised_name: str = re.sub('{2, 100}', ' ', name).strip()
display(revised_name)

'    Muhammad    Hussain    '

'Muhammad    Hussain'

# Eric Matthes - Python Crash Course